@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  overflow-y: scroll;
  overflow-x: hidden; }

li,
ul {
  list-style: none; }

a {
  text-decoration: none; }

img,
input,
button {
  display: block; }

.header {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1rem; }
  .header h1 {
    font-weight: 500;
    font-size: 1.8rem;
    color: #000000; }

.backdrop {
  z-index: 10000;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center; }
  .backdrop .form {
    height: auto;
    width: 40rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 5rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative; }
    .backdrop .form .close {
      position: absolute;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      background-color: rgba(42, 42, 42, 0.8);
      top: 0.5rem;
      right: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: filter 300ms; }
      .backdrop .form .close span {
        color: #ccc; }
      .backdrop .form .close:hover {
        filter: brightness(1.2); }
    .backdrop .form .firstname {
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      .backdrop .form .firstname label {
        margin-left: 1rem;
        font-size: 1.3rem;
        font-weight: 500; }
      .backdrop .form .firstname input[type="text"] {
        outline-color: blue;
        height: 4rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0 1rem; }
        .backdrop .form .firstname input[type="text"]::placeholder {
          font-size: 1.5rem; }
      .backdrop .form .firstname input[type="number"] {
        outline-color: blue;
        height: 4rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0 1rem; }
        .backdrop .form .firstname input[type="number"]::placeholder {
          font-size: 1.5rem; }
      .backdrop .form .firstname textarea {
        outline-color: #84848a;
        border: 1px solid #ccc;
        border-radius: 5px; }
      .backdrop .form .firstname select {
        display: block;
        height: 4rem;
        padding: 0 1rem;
        border-radius: 5px;
        outline: none; }
    .backdrop .form button {
      border: 0;
      padding: 0;
      height: 4rem;
      background-color: aqua;
      border-radius: 5px;
      color: #000000;
      font-weight: bold; }

#display-none {
  display: none; }

.contact {
  height: auto;
  width: 80%;
  border-radius: 5px;
  gap: 2rem;
  padding: 2rem; }
  .contact__text {
    height: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5rem; }
    .contact__text h1 {
      font-weight: 500;
      font-size: 3rem; }
    .contact__text p {
      font-size: 1.7rem; }
  .contact__form {
    height: auto;
    display: flex;
    gap: 1rem; }
    .contact__form--form {
      width: 70%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 1rem; }
      .contact__form--form .name-field {
        display: flex;
        gap: 2rem; }
        .contact__form--form .name-field .field {
          display: flex;
          flex-direction: column;
          gap: 1rem; }
          .contact__form--form .name-field .field label {
            font-size: 1.55rem; }
          .contact__form--form .name-field .field input[type="text"] {
            height: 4.5rem;
            width: 50rem;
            padding: 0 2rem;
            outline: none;
            border: none;
            border: 1px solid #ccc;
            border-radius: 5px; }
          .contact__form--form .name-field .field input[type="email"] {
            height: 4.5rem;
            width: 50rem;
            padding: 0 2rem;
            outline: none;
            border: none;
            border: 1px solid #ccc;
            border-radius: 5px; }
          .contact__form--form .name-field .field input[type="number"] {
            height: 4.5rem;
            width: 50rem;
            padding: 0 2rem;
            outline: none;
            border: none;
            border: 1px solid #ccc;
            border-radius: 5px; }
      .contact__form--form .text-field {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem; }
        .contact__form--form .text-field label {
          font-size: 1.55rem; }
        .contact__form--form .text-field textarea {
          border: none;
          border: 1px solid #ccc;
          border-radius: 5px;
          resize: none;
          overflow: auto;
          color: #a09b9b;
          padding: 1rem;
          outline-color: #0078f2; }
        .contact__form--form .text-field p {
          font-weight: 400;
          line-height: 1.4;
          font-size: 1.5rem;
          color: #a09b9b; }
        .contact__form--form .text-field span {
          color: #0078f2; }
    .contact__form--location {
      padding: 1rem;
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5rem; }
      .contact__form--location .location {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem; }
        .contact__form--location .location span {
          font-size: 3rem; }
        .contact__form--location .location h2 {
          font-size: 2rem; }
        .contact__form--location .location p {
          line-height: 1.4;
          text-align: center;
          font-size: 1.7rem;
          color: #7e7b7b; }
    .contact__form button {
      background-color: #1d4ed8;
      width: 15rem;
      border: none;
      padding: 1.75rem;
      cursor: pointer;
      border-radius: 10px;
      color: #ccc; }

.container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow-x: scroll; }
  .container::-webkit-scrollbar {
    width: 0; }

.main {
  margin-top: 1rem;
  width: 80%;
  height: 70rem;
  display: flex;
  gap: 1rem; }
  .main__menu {
    position: relative;
    height: 70rem;
    width: 136rem;
    background-color: #ccc;
    border-radius: 5px; }
    .main__menu img {
      height: 100%;
      width: 100%;
      border-radius: 5px;
      object-fit: cover; }
    .main__menu--bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0.3;
      background: linear-gradient(180deg, #020024 0%, rgba(0, 0, 0, 0) 0%, black 100%);
      border-radius: 5px; }
  .main__sub {
    width: 34rem;
    height: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem; }
    .main__sub .schedule {
      width: 100%;
      max-height: 70rem;
      overflow: auto;
      border-radius: 10px;
      padding: 1.5rem 0; }
      .main__sub .schedule header {
        margin: 1rem 0; }
      .main__sub .schedule__text {
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid #ccc; }
        .main__sub .schedule__text h4 {
          font-size: 1.5rem;
          font-weight: 500; }

.event {
  height: auto;
  width: 80%; }
  .event__content {
    height: auto;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
    gap: 1rem; }
    .event__content--content {
      flex: 1;
      height: auto;
      border-radius: 5px;
      border: 1px solid #ccc;
      display: flex;
      gap: 1rem; }
      .event__content--content .img-content {
        width: 30rem;
        height: 25rem;
        background-color: pink;
        border-radius: 5px; }
        .event__content--content .img-content img {
          height: 100%;
          width: 100%;
          border-radius: 5px;
          object-fit: cover; }
      .event__content--content .text-content {
        flex: 1;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem; }
        .event__content--content .text-content h1 {
          font-size: 2rem; }
        .event__content--content .text-content p {
          white-space: normal;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.5; }
        .event__content--content .text-content span {
          font-size: 1.2rem;
          flex: 1;
          display: flex;
          justify-content: flex-end;
          font-weight: 400; }

.navigation {
  position: relative;
  height: 6rem;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #cccc; }
  .navigation__menu {
    height: 100%;
    width: 162rem;
    display: flex;
    align-items: center;
    gap: 2rem; }
    .navigation__menu--logo {
      height: 6rem;
      width: 6rem;
      border-radius: 50%; }
    .navigation__menu--menu {
      height: 6rem;
      display: flex;
      align-items: center; }
      .navigation__menu--menu ul {
        height: 6rem;
        display: flex;
        gap: 1rem; }
        .navigation__menu--menu ul li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 7rem;
          cursor: pointer;
          position: relative; }
          .navigation__menu--menu ul li:hover:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0.25rem;
            bottom: 0;
            background-color: #0078f2; }
          .navigation__menu--menu ul li a {
            font-size: 1.2rem;
            font-weight: 500;
            color: #404041; }
    .navigation__menu--price {
      height: 6rem;
      width: 11rem;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0078f2;
      border-radius: 5px; }
      .navigation__menu--price h1 {
        color: #ffff;
        font-weight: 400;
        font-size: 1.5rem; }

.scroll {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 0.5rem; }
  .scroll-item {
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    padding: 0.5rem;
    cursor: pointer;
    gap: 1rem; }
    .scroll-item .item {
      width: 8rem;
      height: 8.8rem;
      background-color: #ccc;
      border-radius: 5px; }
      .scroll-item .item img {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-fit: cover; }
    .scroll-item .text {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem; }
      .scroll-item .text h1 {
        font-weight: 500;
        font-size: 1.5rem; }
      .scroll-item .text p {
        font-weight: 400;
        line-height: 1.4; }
      .scroll-item .text span {
        flex: 1;
        display: flex;
        justify-content: flex-end; }
