@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
input,
button {
  display: block;
}

.header {
  height: 5rem;
  width: 100%;
  //   background-color: aqua;
  display: flex;
  align-items: center;
  padding-left: 1rem;

  & h1 {
    font-weight: 500;
    font-size: 1.8rem;
    color: #000000;
  }
}
