.container {
  height: calc(100vh - 6rem);
  height: 150rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.main {
  margin-top: 1rem;
  width: 80%;
  height: 70rem;
  display: flex;
  gap: 1rem;

  &__menu {
    position: relative;
    height: 70rem;
    width: 136rem;
    background-color: #ccc;
    border-radius: 5px;

    & img {
      height: 100%;
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
    }

    &--bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0.3;
      background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      border-radius: 5px;
    }
  }

  &__sub {
    width: 34rem;
    height: 70rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;

    & .schedule {
      width: 100%;
      height: calc(70rem / 2);
      // background-color: #2a2a2a;
      border-radius: 10px;
      padding: 1.5rem 0;

      &__text {
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid #ccc;

        & h4 {
          font-size: 1.5rem;
          font-weight: 500;
        }
      }
    }

    & .form {
      height: calc(70rem / 2);
      width: 100%;
      background-color: #fff;
      padding: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 10px;

      & header {
        margin-bottom: 5rem;
      }

      & input[type="text"] {
        margin-bottom: 1rem;
        border: none;
        height: 4rem;
        border-radius: 5px;
        width: 100%;
        border-bottom: 1px solid #ccc;
        outline: none;
        padding: 0 2rem;

        &::placeholder {
          color: rgba(42, 42, 42, 0.5);
          font-size: 1.5rem;
          font-weight: 400;
        }
      }
      & input[type="number"] {
        margin-bottom: 1rem;
        border: none;
        height: 4rem;
        border-radius: 5px;
        width: 100%;
        border-bottom: 1px solid #ccc;
        outline: none;
        padding: 0 2rem;

        &::placeholder {
          color: rgba(42, 42, 42, 0.5);
          font-size: 1.5rem;
          font-weight: 400;
        }
      }
      & input[type="checkbox"] {
        display: inline-block;
      }

      & .name {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
      }

      & button {
        bottom: unset;
        height: 4rem;
        border: none;
        border-radius: 5px;
        margin-top: 6rem;
        width: 100%;
        background-color: #0078f2;
        cursor: pointer;
      }
    }
  }
}
