.event {
  height: auto;
  width: 80%;

  &__content {
    height: auto;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;

    // background-color: aqua;
    display: flex;
    gap: 1rem;

    &--content {
      flex: 1;
      width: 81rem;
      height: 25rem;
      border-radius: 5px;
      background-color: aquamarine;
      display: flex;
      gap: 1rem;

      & .img-content {
        width: 30rem;
        height: 25rem;
        background-color: pink;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      & .text-content {
        flex: 1;
        height: 25rem;
        // background-color: cadetblue;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 1rem 1rem;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        & h1 {
          font-size: 2rem;
        }
        & p {
          margin-top: 2rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.5;
        }

        & span {
          margin-top: 2rem;
          font-size: 1.2rem;
          flex: 1;
          display: flex;
          justify-content: flex-end;
          font-weight: 400;
        }
      }
    }
  }
}
